/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
 :root {
   --contrast: #e8e8e8;
   --backgr: #f8f7f7;
   --text: #000000;
   --red: #FF6D6D;
   --orange: #ffc774;
   --blue: #8ED8DF;
   --grey: #393938;
 }

/* Use your variables on elements */
* {
  background: var(--backgr);
} 

.menubox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: auto;
  width: 1365px;
  height: 60px;
  border: 1px solid var(--grey);
}

#logo1 {
  width: 80px;
  height: auto;
  padding-right: 20px;
}

.searchbar{
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 35px;
  border: 1px solid var(--grey);
  width: 300px;
  
}

i{
  align-items: center;
  line-height: 30px;
  margin: 8px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 10px;
  padding-left: 30px;
}

/* Ændre h1, logo og col så det passer*/
h1 {
  font-family: 'Elephant', sans-serif;
  font-size: 55px;
  font-weight: lighter;
  text-align: center;
  padding: 0px;
  margin: 10px;
  margin-left: 150px;
}

h2 {
  font-family: "Century Gothic Paneuropean", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  margin-left: 50px;
  margin-right: 55px;
}


main {
   background-color: var(--backgr);
 }
